@font-face{
    font-family: 'Fira Sans';
    src: url('fonts/eot/FiraSans-Light.eot');
    src: local('Fira Sans Light'),
         url('fonts/eot/FiraSans-Light.eot') format('embedded-opentype'),
         url('fonts/woff/FiraSans-Light.woff') format('woff'),
         url('fonts/ttf/FiraSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family: 'Fira Sans';
    src: url('fonts/eot/FiraSans-LightItalic.eot');
    src: local('Fira Sans Light Italic'),
         url('fonts/eot/FiraSans-LightItalic.eot') format('embedded-opentype'),
         url('fonts/woff/FiraSans-LightItalic.woff') format('woff'),
         url('fonts/ttf/FiraSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
  font-family: 'Din';
  src: url('/fonts/din/Din-Regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/din/Din-Regular.eot-.eot') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/din/Din-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/din/Din-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/din/Din-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}

html {
    text-rendering: optimizeLegibility;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

body {
	font-size: 100%;
	font-family: "Din", Sans-serif;
  color: #000;
  /*font-weight: 300;*/
	margin:0;
	padding:0;
	background: #fff;
  text-align: center;
}
a {
  text-decoration: none;
  color: #000;
}

/* Display */

#numberDisplay {
	font-size: 2.8em;
	color: #fff;
	letter-spacing: 0.0625rem;
  font-weight: 200;

	overflow: hidden;

	width: 100%;
	margin: 0;
	padding: 1rem 0;
  background-color: #000;
  text-align: center;

}
#refValues, #refValuesInitial {
  width: 18.75rem; /*300px*/
  padding-right: 1.25rem; /*20px*/
  text-align: right;
  font-size: 1.2rem;
  color: #ffde00;
  font-style: italic;
  margin: auto;
}
#result{
  width: 18.75rem; /*300px*/
  padding-right: 1.25rem; /*20px*/
  text-align: right;
  margin: auto;
}
.refValues{
  display: inline;
}

/* END Display */

/* Calculator */

#calculator {
  font-size: 1.2em;
	margin:auto;
	padding: 0;
	width: 20rem; /*320 px*/
	height: auto;
	display: block;
  /*background-color: #f1f1f1;*/
}

.btn {
  display: block;
  width: 5rem; /*80px*/
  margin: 0;
  padding: 1em 0;
  transition: background-color 0.3s ease;
  float: left;
  /*background-color: #D1D1D1;*/
}
#ratioSelect{
  width: 20rem; /*320px*/
}
.ratioSelected {
  background-color: #ffde00;
}
#funcBtns {
	width: 5rem; /*80px*/
	float: right;
}
#calcBtns {
  width: 15rem; /*240px*/
  float: left;
}
.slctBTN, .calcBTN {

}
.slctBTN:hover, .funcBTN:hover {
  background-color: #d1d1d1;
}
.calcBTN:hover {
  background-color: #f1f1f1;
}
.calcBTN:active, .slctBTN:active, .funcBTN:active {
  background-color: #ffde00;
}

.calcBTN {
	/*display: block;
	float: left;
	height: 44px;
	width: 44px;
	margin: 10px;
  padding: 10px 15px;
  background-color: #F1F1F1;*/
}


.funcBTN {
	/*display: block;
	float: right;
	height: 44px;
	width: 44px;
  margin: 10px;
  padding: 10px 15px;
  background-color: #ffde00;*/
}
#ratioSelect {
  /*width: 280px;
	margin: 0;
	padding: 20px;
	text-align: left;*/
}

#btn0 {
	/*width: 108px !important;*/
}
